@font-face{
  src: url('./assets/fonts/Anton-Regular.ttf');
  font-family: anton;
}


/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body{
  display: flex;
}

.hero{
  background-image: url("./assets/images/hero.jpg");
  height: 100vh;
  width: calc(100vw - 500px);
  background-repeat: no-repeat;
  background-size: calc(100vw - 500px) 100vh;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 15px;
}

.form > div{
  text-align: center;
}

.form > h1{
  font-family: anton;
  font-size: 60px;
  color: #4831D4;
}

.input{
  position: relative;
}

.input > input{
  height: 40px;
  width: 250px;
  border-radius: 10px;
  border: 1px solid #4831D4;
  padding-left: 10px;
  z-index: 5;
  background-color: transparent;
  font-size: 16px;
}

input::placeholder{
  color: transparent;
}

.input > label{
  position: absolute;
  top: 50%;
  left: 10px;
  color: grey;
  transform: translate(0, -50%);
  z-index: -1;
  transition: 0.5s;
}

.input > input:focus + label, .input > input:not(:placeholder-shown) + label{
  left: 5px;
  top: 0;
  font-size: 14px;
  font-weight: 700;
  color: #4831D4;
  background-color: white;
  z-index: 10;
  padding: 0 5px;
}

.button{
  width: 175px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
  background-color: #4831D4;
  color: white;
  border-radius: 5px;
  border: 0;
}

.switch-pages{
  font-size: 13px;
}